<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>UAnalityCon - Form</title>
</head>
<body>
    <nav>
        <a href="/form_for_participants">Partipicant form</a>
        <a href="/form_for_attendees">Listener form</a>
    </nav>
    <div class="centered-box" >
        {% block body %}

        {% endblock %}
    </div>
</body>
</html>
